body {
  background: lightgray;
}

.navbar.navbar-light.bg-light {
  background: teal;
  height: 100px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding: 10px;
}

.col-md-12 {
  margin: 0 auto;
  text-align: center;
  background: teal;
  height: 1px;
}

.input-group.mb-3 {
  text-align: center;
}

.col-md-4 {
  background: yellow;
  float: left;
  width: 25%;
  height: 400px;
}

.col-md-8 {
  background: red;
  float: right;
  width: 75%;
  height: 400px;
  text-align: center;
}

.row42 {
  background: blue;
}
